#banner {
    height:150px;
    width:100%;
}
#logoutbutton {
    margin-top:-90px;
    margin-left:1000px;
    background-color:rgb(255, 0, 0);
    border-radius:10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    color:white;
    height:40px;
    width:100px;
    font-size:15px;
    border-color:transparent;
}
#logo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:60px;
    margin-top:-111px;
    margin-left:550px;
    color:white;
}
#lookingforaroom{
    margin-right:-500px;
    margin-left:505px;
    margin-bottom:7px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
}
#roominput {
    margin-right:-500px;
    margin-left:521px;
    margin-top:30px;
}
#addroombutton {
    margin-right:-500px;
    margin-left:519px;
    background-color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    height:30px;
    font-weight:bold;
    border-color:transparent;
    border-radius:10px;
}
#usernamelabel {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom:15px;
    margin-top:20px;
    font-weight:600;
}
#output {
    background-color:rgb(84, 166, 214);
    margin-top:20px;
    text-align:center;
    width:600px;
    border-radius:50px;
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    color:black;
}
#roomnames {
    margin-top:55px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
}